
${header}    
<div class="y-wrap y-sticky">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-pumpkin-farm-near-me-1569361418.jpg?crop=1.00xw:0.751xh;0.00160xw,0.113xh&resize=1200:*" alt="">
    <p>Welocme to the patch! Enjoy fall by visiting our favorite pumpkin patch just west of Atlanta.  Fun for all inlcudes - a petting zoo, play ground, games, hay ride, corn maze, boiled peanuts and much more!!  There's nothing quite like sitting outside surrounded by the beautiful aroma of farm animals watching the day turn to night.  We have a large selection of pumpkins to choose from at our patch, dont hesitate to ask for a wagon.  Not in the Halloween spirit?  Come by and start planning the best Christmas ever!  We have a full tree farm on our parcel that will satify even the coldest Scroog. In fact you can go ahead and clink <a href="./info.html">here</a> for more info! Join us today on Sleepy Hallow Dr!!</p>
<main>
    
<p></p>
</main>
</div>
${footer}
